
@{
    ViewBag.Title = "Login";
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/Content/Login.css">
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
    <form action="">
        <h1 title="Please, fill in all the blank fields">Login</h1>
        <div class="group">
            <strong> <label for=" ">Login:</label> </strong>
            <input type="text" required >
        </div>
        <div class="group">
            <strong><label for=" "> Password: </label></strong>
            <input type="password" required>
        </div>
        <div class="group button_container">
            <button> Sign in </button>
        </div>
        <div class = "group"> <a href=" https://www.youtube.com"> Forgot password?</a>
        </div>
        <div class = "group"> <a href="/Auth/Register"> Register an account now</a>
        </div>
    </form>
</body>
</html>

