@model MRSTW.Models.UserLoginData

@{
    Layout = "";
}

<!-- Сюда Регистрацию -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/Content/Registrarion.css">
    <meta charset="UTF-8">
    <title>Registration page</title>
</head>
<body>
    @using (Html.BeginForm("Auth", "Register"))
    {
        <h1 title="Please, fill in all the empty fields">Registration</h1>
        <div class="group">
            <b><label for=""> Login: </label> </b>
            @Html.TextBoxFor(x => x.Login)
        </div>

        <div class="group">
            <b>  <label for=""> Password: </label> </b>
            @Html.TextBoxFor(x => x.Password, new { placeholder = "Password..." })
        </div>
        <div class="group">
            <b> <label for=""> Repeat Password: </label> </b>
        </div>
        <div class="group">
            <b><label for=""> Email: </label> </b>
            <input type="email" required>
        </div>
        <div class="group button_container">
            <b> <button> Registration </button></b>
        </div>
        <div class="group">
            <a href=" /auth/Login"> Already have an account? Login</a>
        </div>
    }
</body>
</html>
