<header>
    <div class="logotype">My Favourite Blog</div>
    <nav>
        <ul class="flex centered">
            <li>@Html.ActionLink("Home", "", "")</li>
            <li>Among Us</li>
            <li>About Us</li>
            <li>Sign in</li>
            <li>Admin Panel</li>
        </ul>
    </nav>
</header>