<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Schedule Application</title>
    @RenderSection("Styles", false)
</head>
<body>
    @RenderBody()
</body>
</html>