.home_layout {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.home_primary_post_container {
    flex: 2;
}

.home_secondary_post_container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post.primary {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.post .thumbnail {
    width: 100%;
    height: 100%;
    background-color: #e1e1e1;
    overflow: hidden;
}

.post .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.post.primary .info {
    position: absolute;
}

.post.secondary {
    flex: 1;
    display: flex;
    position: relative;
    border-radius: 1em;
    overflow: hidden;
}

.home_layout .post {
    transition: all .2s ease;
    padding: 0;
}

.home_layout .post:hover {
    transform: scale(1.01);
}