.post {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 20px;
}


.edit_story {
    width: 100%;
    resize: vertical;
    box-sizing: border-box;
    min-height: 300px;
}

.react_container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.react {
    padding: 3px 10px;
    background: #EEE;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 3px 10px;
    background: #EEE;
    border: 1px solid #ccc;
    cursor: pointer;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.react img {
    height: 22px;
    margin: 0 5px;
}

.react .reactors {
    position: absolute;
    padding: 5px 10px;
    background: #eee;
    border: 1px solid #ccc;
    opacity: 0;
    transition: all .2s ease;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 0;
}

.react:hover .reactors {
    top: -40px;
    opacity: 1;
}

.post_thumb {
    left: 0;
    width: 100%;
    height: 400px;
    position: relative;
    z-index: 0;
}

.post_thumb::after {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    box-shadow: inset 0 10px 20px #000A;
    left: 0;
    top: 0;
}

.post_thumb img {
    object-fit: cover;
    object-position: center;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

.post_backdrop {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-image: linear-gradient(
        to bottom, 
        #E0E0E0EE, 
        #E0E0E0FF
    ), var(--post-thumbnail);
}

.post_backdrop_blur {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
}

.post_container {
    display: flex;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
}

.post_content {
    margin-bottom: 10px;
    flex: 1;
}

.post_title {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 10px;
    text-align: left;
}

.post_story {
    text-align: justify;
    margin-bottom: 20px;
}

.post_author {
    max-width: 300px;
    flex: 1;
    margin-left: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.post_comments {
    padding: 20px;
}

.profile_banner {
    padding: 0;
    background-size: cover;
    background-position: center;
}

.author_profile {
    padding: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: #FFFFFFE0;
    backdrop-filter: blur(10px);
}

.author_label {
    margin-bottom: 10px;
    font-size: 11px;
    font-weight: 600;
}

.author_avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.author_avatar img {
    width: 120px;
    height: 120px;
    border-radius: 60px;
}

.author_name {
    font-size: 16px;
    font-weight: bold;
}

.container {
    max-width: unset !important;
}

.page {
    margin-top: -30px;
}

.card_post_manage {
    padding: 0;
    overflow: hidden;
}

.post_manage_content {
    padding: 15px;
}


/* ----------------- COMMENT ----------------- */
.comment_outer {
    border-radius: 3px;
}

.comment_outer:not(:last-child) {
    margin-bottom: 10px;
}

.comment_avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 10px;
    flex-shrink: 0;
}

.comment_avatar img {
    width: 100%;
    height: 100%;
}

.comment .title {
    font-weight: bold;
}

.comment .title span {
    font-weight: normal;
    font-size: 12px;
}

.comment_author_name {
    font-weight: bold;
}

.comment_author_time {
    font-size: 12px;
}

.comment_thread {
    border-left: 1px solid #CCC;
    padding-left: 10px;
    margin-left: 20px;
    margin-top: 10px;
}

.comment_thread .comment {
    padding: 0;
}

.comment_inner {
    display: flex;
}

.comment_footer {
    font-size: 14px;
    color: #666;
    display: flex;
    gap: 6px;
}

.comment_content {
    width: 100%;
}

.comment_post_button {
    margin-left: 10px;
}

.comment_post_button .button {
    border-radius: 100%;
    width: 32px;
    height: 32px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reaction {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F0F0F0;
    border-radius: 100%;
    padding: 0px 7px;
    border: 1px solid transparent;
    cursor: pointer;
    font-weight: bold;
    user-select: none;
}

.reaction .count {
    margin-left: 3px;
    color: #333;
}

.reaction .emoji {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reaction .emoji img {
    max-height: 20px;
    max-width: 20px;
}

.reaction:hover {
    border-color: #CCC;
}

.reaction:active {
    background-color: #C0C0C0;
}

.reaction.selected {
    background-color: var(--orange1);
}

.reaction.selected:hover {
    border-color: var(--orange2);
}

.reaction.selected:active {
    background-color: var(--orange2);
}

.reactions {
    display: flex;
    gap: 5px;
}

.post_manage_section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.post_manage_section:not(:last-child) {
    padding-bottom: 10px;
    border-bottom: 1px solid #CCC;
    margin-bottom: 15px;
}

.post_leave_a_comment {
    display: flex;
}

.post_leave_a_comment textarea {
    width: 100%;
}

.post_leave_a_comment.hidden {
    display: none;
}