
@{
    ViewBag.Title = "Index";
}

<h3>Пары:</h3>
<table border="1" width="50%" style="text-align: center;">
    <tr>
        <td><p>Название</p></td>
        <td><p>Начало</p></td>
        <td><p>Конец</p></td>
        <td></td>
    </tr>
</table>

<br />