<header>
    <div class="container header_container">
        <div class="header_column">
            <div class="header_logotype">
                <img src="~/Content/Images/Clyde.png" />
                <div class="text">Clyde Blog</div>
            </div>
        </div>
        <div class="header_column">
            <div class="header_navigation">
                <ul>
                    <li>Catergory #1</li>
                    <li>Catergory #2</li>
                    <li>Catergory #3</li>
                    <li>Catergory #4</li>
                </ul>
            </div>
            <div class="header_login">
                <button class="secondary">Sign In</button>
                <button class="primary">Sign Up</button>
            </div>
        </div>
    </div>
</header>