<header>
    <div class="container header_container">
        <div class="header_column">
            <a href="@Url.Action("/", "")" class="display_contents">
                <div class="header_logotype">
                    <img src="~/Content/Images/Clyde.png" />
                    <div class="text">Clyde Blog</div>
                </div>
            </a>
        </div>
        <div class="header_column">
            <div class="header_navigation">
                <ul>
                    <li>Catergory #1</li>
                    <li>Catergory #2</li>
                    <li>Catergory #3</li>
                    <li>Catergory #4</li>
                </ul>
            </div>
            <div class="header_login">
                <a href="@Url.Action("Login", "Auth")">
                    <div class="button secondary">Sign In</div>
                </a>
                <a href="@Url.Action("Register", "Auth")">
                    <div class="button primary">Sign Up</div>
                </a>
            </div>
        </div>
    </div>
</header>