<header>
    <div class="logotype">My Favourite Blog</div>
    <nav>
        <ul class="flex centered">
            <li>@Html.ActionLink("Home", "", "")</li>

            <li>@Html.ActionLink("All Users", "Index", "Users")</li>

            <li>@Html.ActionLink("Sign Up", "Register", "Auth")</li>
            <li>@Html.ActionLink("Sign In", "Login", "Auth")</li>
        </ul>
    </nav>
</header>