.header {
  background: linear-gradient(
    180deg,
    rgba(89, 120, 149, 1) 0%,
    rgba(198, 111, 174, 0.43) 100%
  );
  padding: 25px 347px 259px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frame-1 {
  margin-bottom: 10px;
  overflow: hidden;
  padding: 10px 224px 10px 104px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}
.aranara {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  color: var(--white);
  text-align: center;
}
.aranara:not(:last-of-type) {
  margin-right: 10px;
}
.glavnaja {
  max-width: 74px;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  color: var(--white);
  text-align: center;
  position: absolute;
  left: 20px;
  top: 10px;
}
.o-nas {
  max-width: 50px;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  color: var(--white);
  text-align: center;
  position: absolute;
  left: 292px;
  top: 10px;
}
.admin-panel {
  max-width: 134px;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  color: var(--white);
  text-align: center;
  position: absolute;
  left: 352px;
  top: 10px;
}
.num-2023-s-team-c-r-i-n-g-e {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  color: var(--white);
  text-align: center;
}